
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

*{
    margin: 0;
    padding:0;
}
.sidebar{
    position: absolute;
    background-color: rgb(153, 144, 144);
    transition: transform 0.2s ease-in;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}
.sidebar nav{
    padding: 20px;
}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 35px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main{
    padding: 23px;
    
    width: 90vw;
}
.container{
    display: flex;
    /* width: auto; */
}
.infoContainer{
 
    height:45vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
    padding-left:30px;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.devPic img{
    height: 58vh;

}

.hello{
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
}
.name{
    
    font-family: 'Roboto', sans-serif;

    font-size: 30px;
    font-weight: bold;
}
.about{
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
}
.moreabout{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 34px;
}
.buttons{
    margin-top: 34px;
}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color:aliceblue;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}

.btn-sm{
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}

.btn:hover{
    background-color: aquamarine;
    color:darkblue;
}
.contactform{
    padding: 0 34px;
    padding-top: 20px;
    
    font-family: 'Roboto', sans-serif;

}
.contactform h1{
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
    font-size: 25px;
}

.contactform form div {
    padding:10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp{
    font-size: 11px;
    color: black;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width:24px;
    margin: 3px 0;
}

.blogItem{

    margin: 20px;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Roboto', sans-serif;
    margin: 23px;
}
p{
    font-family: 'Source Code Pro', monospace;

}
 .intro{
    ;
 }

.intro h2{
    
    font-family: 'Roboto', sans-serif;
    margin: 12px;
}

.intro p{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
    
}

.skillContainer{
    padding: 12px;

}

.skillItem{
    display:flex;
    align-items: center;
}

.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}

.hundred{
    width:250px;
    background-color: red;
}

.ninty{
    width:225px;
    background-color: red;
}
.eighty{
    width:200px;
    background-color: orangered;
}
.seventyfive{
    width:187.5px;
    background-color: orangered;
}
.seventy{
    width:175px;
    background-color: orangered;
}
.sixty{
    width:150px;
    background-color: orange;
}
.fifty{
    width:125px;
    background-color: orange;
}
.forty{
    width:100px;
    background-color: yellow;
}
.thirty{
    width:75px;
    background-color: yellow;
}
.twentyfive{
    width:62.5px;
    background-color: yellow;
}
.twenty{
    width:50px;
    background-color: yellowgreen;
}
.ten{
    width:250px;
    background-color: yellowgreen;
}

@media(max-width:1115px){
    *{
    /* background-color: red; */
    }
    .devPic{
        display: none;
    }
    .intro, .blogContainer, .contactform{
        margin: 50px 8px;
    }
    
}
.sidebarGo{
    transform: translate(-400px,0px);
    position: absolute;
   }
.menu{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.close{
    margin-left: 90px;
}


